<template>
  <div class="main">
  <header class="main-header">
    <a href="javascript:void(0);" class="logo">
      <span class="logo-mini"><b>人人</b></span>
      <span class="logo-lg"><b>人人权限系统</b></span>
    </a><template>
      <div class="main">
      <header class="main-header">
        <a href="javascript:void(0);" class="logo">
          <span class="logo-mini"><b>人人</b></span>
          <span class="logo-lg"><b>人人权限系统</b></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div style="float:left;color:#fff;padding:15px 10px;">欢迎 {{this.user}} {{this.errorMsg}} </div>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li><a href="javascript:;" @click="donate"><i class="fa fa-jpy"></i> &nbsp;捐赠作者</a></li>
              <li><a href="http://www.renren.io" target="_blank"><i class="fa fa-home"></i> &nbsp;人人开源</a></li>
              <li><a href="javascript:;" @click="updatePassword"><i class="fa fa-lock"></i> &nbsp;修改密码</a></li>
              <li><a href="logout"><i class="fa fa-sign-out"></i> &nbsp;退出系统</a></li>
            </ul>
          </div>
        </nav>
      </header>
      </div>
    </template>
    <script>
    export default {
      name: 'Main',
      data () {
        return {
          user: 'hello world',
          errorMsg: 'none'
        }
      },
      created: function () {
        this.user = 'myname'
        this.$http.post('http://47.98.172.231:8002/user/info', {page: 1, limit: 10}, {'Conent-Type': 'appliaction/json'}, {emulateJSON: true}).then(
          function (res) {
            console.log(res)
            if (res.body.code === 0) {

            } else {
              console.log(res)
            }
          }
        ).catch(function (error) {
          console.log(error)
          this.errorMsg = error.url
        })
      },
      methods: {
        donate: function () {
        },
        updatePassword: function () {
        }
      }
    }
    </script>
    <style>
    @import "../../css/header.css"
    </style>

    <nav class="navbar navbar-static-top" role="navigation">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div style="float:left;color:#fff;padding:15px 10px;">欢迎 {{this.user}} {{this.errorMsg}} </div>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li><a href="javascript:;" @click="donate"><i class="fa fa-jpy"></i> &nbsp;捐赠作者</a></li>
          <li><a href="http://www.renren.io" target="_blank"><i class="fa fa-home"></i> &nbsp;人人开源</a></li>
          <li><a href="javascript:;" @click="updatePassword"><i class="fa fa-lock"></i> &nbsp;修改密码</a></li>
          <li><a href="logout"><i class="fa fa-sign-out"></i> &nbsp;退出系统</a></li>
        </ul>
      </div>
    </nav>
  </header>
  </div>
</template>
<script>
export default {
  name: 'Main',
  data () {
    return {
      user: 'hello world',
      errorMsg: 'none'
    }
  },
  created: function () {
    this.user = 'myname'
    this.$http.get('http://47.98.172.231:8002/renren-admin/sys/user/info').then(
      function (res) {
        console.log(res)
        if (res.body.code === 0) {

        } else {
          console.log(res)
        }
      }
    ).catch(function (error) {
      console.log(error)
      this.errorMsg = error.url
    })
  },
  methods: {
    donate: function () {
    },
    updatePassword: function () {
    }
  }
}
</script>
<style>
@import "../../css/header.css"
</style>
